/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.clearfix::after {
 content: "";
 display: block;
 clear: both;
}

body {
  background-color: #fffaf3;
  margin-top: 51px;
}

/*ヘッダー関連*/
#head-pic{
 width:100%;
 height:400px;
  }

.image1 {
background-image: url(image1.jpg);
}

.image2 {
background-image: url(image2.jpg);}

.image3 {
background-image: url(image3.jpg);}

.image4 {
background-image: url(image4.jpg);}

.image5 {
background-image: url(image5.jpg);
}

.login{
  margin-top: 20px;
  text-align: right;
  font-size: 30px;
  color:white;
  font-family: 'Cute Font', cursive;

}

.navbar-default{
  background-color: #470707;
  height: 72px;
  }

.container{
  width:100%;
  margin: 0 auto;
  }

.headicon {
    background-image: url(logo.jpg);
    background-size: contain;
    width: 75px;
    height: 75px;
    float: left;
    margin-top: -20px;
    margin-left: -20px;
  }
.active{
  font-size:38px;
  padding:0px 14px 14px 14px;
}

ul{
list-style: none;
margin-top: 40px;
}

/*ヘッダー関連ここまで*/

/*トップページ関係*/

.topitem{
margin: 0 auto;
}
.topindex{
  padding: 0 20px 0 15px;
  margin: 0 auto;
  float: left;
}

/*サイドバー設定*/
.sidebar{
width: 20%;
float:left;
}
.sidebartop{
font-size:28px;
}
.sidebar-contents{
  font-size:22px;
}
.sidebar-link{
  font-size:20px;
}
/*サイドバー設定ここまで*/

/*商品一覧関連*/

.indexitems{
  width:80%;
  margin: 0 auto;
  float: left;
  display: inline-block;
}

.indexeachitems{
  float:left;
  padding: 0 20px 0 15px;
  text-align: center;
}

.product_name{
font-size:20px;
}

.product_price{
  font-size:20px;
}
/*商品入り一覧関連ここまで*/
  /*商品詳細画面関連*/

.itemdetails{
  margin:0 auto;
  text-align: center;
  width:80%;
}
.description{
  float: left;
  width: 400px;
  height: 300px;
  margin: 60px 0px 0px 60px;
}
.itemname{
  font-size: 40px;
}
.itemdescription{
  font-size :25px;
}
.itemprice{
  font-size: 28px;
}
/*商品詳細画面ここまで*/

/*管理者商品詳細*/
.admin_description{
margin-top:60px
}
.admin_show_link{
 margin-right:240px;
 font-size: 48px;
 text-align: right;
}
/*管理者商品詳細画面ここまで*/

/*管理者商品詳細＆編集*/
.text_span{
  margin-left: 14px;
}
.text_break{
  margin:15px 0px 15px 0px;
}
/*管理者商品詳細＆編集kokomade*/

/*管理者商品編集*/
.toindex{
text-align:center;
margin-right:-100px;
}
/*管理者商品編集ここまで*/

  .cancel-button{
    padding: 50px;
  }

  .customer-box{
    background-color: silver;
    width: 10%;
  }

  .customer-table{
    padding: 15px;
    height: 300px;
  }

  .mypage-header{
    padding: 20px;
  }

  .mypage-header-box{
    width: 100%;
    height: 120px;
    text-align: center;
    margin:0 auto;
    padding: 40px;
    font-size: 30px;
  }

  .mypage-table{
    padding-bottom: 40px;
  }
  .customer-form{
    width: 30%;
  }
  .admin-show-title{
    padding: 20px;
  }
  .admin-show-btn{
    margin: 15px;
  }
  .signup-table { margin-top: 30px; }
  .signup_name { margin-right: 30px;}
  .form {
   border-radius: 10px;
   height: 40px;
  }
  .signup-container{
    margin-top: 100px;
    margin-left: 100px;
  }
  .submit-btn{
    margin-top: 40px;
  }


  footer {
    width: 100%;
    height: 120px;
    text-align: center;
    margin:0 auto;
    padding: 40px;
    font-size: 15px;
    float: left;
  }

.active > a:visited{
  color:white;
  text-decoration:none
}

  .delivery-table{
    height: 200px;
  }
  .delivery-tr{
    height: 100px;
  }
  .delivery-submit{
  padding-top: 260px;
  padding-left: 50px;
  }
  .delivery-th{
  background-color: silver;
  }
  .delivery-index{
  padding-top: 100px;
  }
  .deli-post-field{
  width: 100px;
  }
  .deli-address-field{
  width: 300px;
  }
  .deli-name-field{
  width: 200px;
  }



#container{
  height: 800px;
}

#headerwrap {
    margin-top: 0px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap p {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    letter-spacing: -1px;
    margin-left: 15px;
    margin-top: 150px;

    text-shadow: none;
    text-transform: uppercase;
}

.anime_test {
    width: 300px;
    text-align:  center;
    display: block;
    padding:  15px;
    font-size:  20px;
    text-decoration: none;
    color:  #fff;
    background-color: #00BCD4;
    border-radius:  5px;
    transition: 0.5s;
    margin:  0 auto;
    margin-top: 150px;
}
.anime_test:hover {
    opacity:  0.7;
    width: 340px;
}
