
<body>

<%= render 'headfoot/header' %>

<div id="headerwrap" name="home" class="fullheight">
<header class="clearfix fullheight">
  <div class="vertical-center">
    <p class="animated slideInLeft">
      Welcome to Nagano Cake.
    </p>
    <p class="animated slideInRight">Well then, let's begin.</p>
    <%= link_to "Sign in", new_customer_registration_path, data: {"turbolinks" => false}, class: 'btn homebtn smoothScroll' %>
    <i class="el-icon-chevron-down homeicon"></i>
  </div>
  </header>
</div>

<%= render 'headfoot/footer' %>

</body>