
<div class="container">
<header class="headline">
	<div class="row">
		<div class="col-sm-12" style="background-color: #b2ffff;">
  <h3>ロゴおよびヘッダー用スペース</h1>
  	</h3>
  </div>
</header>

<div class="row">
<div class="col-sm-12" style="background-color:  #6c2735;" >
  <h3>navbar用スペース</h3>
</nav>

