<div class="panel panel-default">
            <div class="panel-heading">ジャンル検索</div>
            <% Genre.all.each do |g| %>
             <div class="panel-body">	<%= link_to g.genre_name, "/search/genre?id=#{g.id}"  %></div>
	            <!-- <li class="sidebar-contents">Genre1</li> -->
            <% end %>
        </ul>
</div>