<div class="sidebar">
        <ul class="sidebarcontents">
            <li class="sidebartop">ジャンル検索</a></li>
            <li><a>Genre1</a></li>
            <li><a>Genre2</a></li>
            <li><a>Genre3</a></li>
            <li><a>Genre4</a></li>
        </ul>
</div>